@page "/counter"
<h3>@_count</h3>
<MButton OnClick="ButtonEvent" Class="custom-default-masa-btn">test</MButton>

@code {
    private int _count;

    private void ButtonEvent()
    {
        _count++;
    }

}